doctype html
html
  head
    title This is cool
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    h1 Pug website
    p pug
    ol
      li.thisClass This used to be Jade <!--This is how to create a class-->
      li#thisID Now this is pug! Like the dog! Yeah!

    a(href="/routes") Route